version: "3.8"
services:
  postgres:
    image: postgres:14
    container_name: postgres
    environment:
      POSTGRES_USER: sarah
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: tp_rest
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    networks:
      - monitoring

  influxdb:
    image: influxdb:2.2
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: jmeter
      DOCKER_INFLUXDB_INIT_PASSWORD: jmeterpwd
      DOCKER_INFLUXDB_INIT_ORG: perf
      DOCKER_INFLUXDB_INIT_BUCKET: jmeter
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: jmeter-token
    volumes:
      - ./influxdata:/var/lib/influxdb2
    restart: always
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana-oss
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - influxdb
      - prometheus
    restart: always
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge